.logoutTitle {
    color: white;
    font-size: 50px;
    text-align: center;
    color: #532020;
    font-weight: 700;
    text-align: center;
}

.logoutTimer {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}